//Colores del body
$body-bg:#222 ;
$body-color:white;

//Colores generales
$primary:#4a6da7;
$secondary: #444;
$success:#00bc8c;
$danger:#e74c3c ;
$light:#adb5bd;
$dark:#303030 ;

//Color de links
$link-color:$success;

//Color de linea de separación
$hr-border-color: white