//Bordes
$input-border-color:$body-bg;
//Add-ons color
$input-group-addon-color:#adb5bd;
$input-group-addon-bg:#444;
//Color
$input-bg:$primary;
$input-color:white;
//Color disabled
$input-placeholder-color:rgba(255, 255, 255, 0.644);
$input-disabled-bg:darken($light,15%);
//Files
$custom-file-color:#adb5bd;
$custom-file-border-color:$body-bg ;

