/* Tipografía */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
$font-family-base:'Noto Sans', sans-serif;
$font-family-monospace:'Space Mono', monospace;
/* Tamaño de fuente */
$font-size-base:1.2rem;